# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

ca.pem

# Go build directories
bin/
dist/

# Dependencies
vendor/

# Environment files
.env
*.env
!env.sample


# IDE / Editor settings
.vscode/
.idea/
*.iml

# Logs
logs/
*.log
